PORT=5000
MONGO_URI=mongodb+srv://usmanmasud260_db_user:k4AuHYg8ywjYe0TT@cluster0.wm6jcuc.mongodb.net/?appName=Cluster0
AT_API_KEY=atsk_e09610eed73d03cb2bc7e0045b4ace8b3801b9f93ac6978d91d44251af9bf42bb9550812
AT_USERNAME=sandbox
AT_SENDER_ID=FACTORA
AT_SHORTCODE=*384*37910#
AT_CALLER_ID=+254711XXXXXX
AT_AIRTIME_CURRENCY=NGN
NODE_ENV=development
